@using FlameAndWax.Models
@model IEnumerable<ProductViewModel>;

<div class="container">
    <div class="jumbotron" id="tableCart">
        @await Html.PartialAsync("../Cart/CartTablePartial", Model)
    </div>
</div>