<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FlameAndWax.Employee</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/sweetalert/sweetalert.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        @await Html.PartialAsync("_NavbarPartial")
        <div class="mt-1 container-fluid">
            <div class="d-flex justify-content-end">
                <button type="button" id="sidebarCollapse" class="btn btn-gold mb-1">
                    <span><i class="fas fa-bars"></i> Menu</span>
                </button>
                <a asp-controller="Account" asp-action="Logout" class="navbar-nav ml-auto p-2 btn btn-gold">
                    LogOut <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
            @RenderBody()
        </div>
    </div>

    <footer class="border-top footer text-muted card" style="background-color: #e4e2da;">
        <div class="container">
            &copy; 2021 - FlameAndWax.Employee - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src=@("https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.js")></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/sweetalert/sweetalert.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>

</html>
