@{
    ViewData["Title"] = "Products";
}
<div class="container">
    <div class="row">

        <div class="container">
            <h2>@ViewData["Title"]</h2>
            <div class="row">

                @for (int i = 0; i < 12; i++)

                {

                    <div class="col-md-4 col-sm-12 p-3 ">
                        <div class="card shadow-lg">
                            <img class="card-img-top" src="~/images/products/bodycandle.png" alt="Card image cap" >
                            <div class="card-body">
                                <h5 class="card-title">Product Name</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <h5 class="card-title">Price</h5>
                                <h6 class="card-title">Stock</h6>
                            </div>
                        </div>


                    </div>
                    
                }


            </div>

        </div>


    </div>
</div>