@model IEnumerable<FlameAndWax.Models.ProductViewModel>;
@using FlameAndWax.Data.Constants;
@{
    ViewData["Title"] = "Products";
}
<div class="container">
    <div class="row">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>
<hr />
<div class="container">
    <div class="row">
        <h3>Filter&nbsp;</h3>
        <div class="dropdown">
            <button class="btn dropdown-toggle btn-gold" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category <i class="fas fa-caret-square-down"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" onclick="update('Candle')" asp-action="Sort" asp-controller="Products" asp-route-category="@nameof(Constants.Category.Candle)" data-ajax="true" data-ajax-update="#content" data-ajax-loading="#loader">Candle</a>
                <a class="dropdown-item" onclick="update('Soap')" asp-action="Sort" asp-controller="Products" asp-route-category="@nameof(Constants.Category.Soap)" data-ajax="true" data-ajax-update="#content" data-ajax-loading="#loader">Soap</a>
                <a class="dropdown-item" onclick="update('Diffuser')" asp-action="Sort" asp-controller="Products" asp-route-category="@nameof(Constants.Category.Diffuser)" data-ajax="true" data-ajax-update="#content" data-ajax-loading="#loader">Diffuser</a>
            </div>
        </div>
        <div class="spinner-border ml-2" role="status" id="loader" style="display:none;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<hr />
<div class="container">
    <div class="row" id="content">
        @await Html.PartialAsync("../Products/ProductsPartial")
    </div>
    <div class="row mt-2">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" asp-controller="Products" asp-action="Index" asp-route-pageNumber="1">1</a></li>
                <li class="page-item"><a class="page-link" asp-controller="Products" asp-action="Index" asp-route-pageNumber="2">2</a></li>
                <li class="page-item"><a class="page-link" asp-controller="Products" asp-action="Index" asp-route-pageNumber="3">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>
