<div class="card">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm">
                <img src="~/images/about.png" alt="..." class="img-thumbnail">
            </div>
            <div class="col-sm">
                <p>
                    This organic product was made with carefully
                    sourced ingredients from local producers only. It
                    was hand made it for you.
                    We hope that this candle make you lovely and
                    relaxed all the time. Enjoy The Cracking Sound of
                    your candle
                </p>
                <p>
                    Handmade and Locally Sourced Ingredients -
                    Renewable & Ethically sourced
                </p>
                <p>
                    We promise That our product bring peace and
                    havind a relaxing day when you lit it up. We are
                    happy that our product might help you to reduces
                    stressed and cope up on a fully loaded day from
                    your school activity and working from your home.
                </p>
            </div>
            <div class="col-sm">
                <p>
                    Many of us have been burning more candles
                    lately than we ever have before. Candles are a
                    tradition in many cultures, a mainstay in many
                    homes, and even a luxury to treat yourself and
                    others with, but are there real benefits to burning
                    them? Especially at a time like now, when many
                    of us have been quarantined for over a month,
                    can candles truly affect how we feel about our
                    space?
                </p>
                <p>
                    "It is scientifically proven that scented candles
                    can play an essential role in the physiological
                    effects of mood, stress, working capacity, and
                    overall mental health," Chryssa Chalkia, an
                    accredited clinical integrative psychotherapist
                    and cognitive behavioral therapist, said. Chalkia
                    wrote an article on the effect scented candles
                    have on reducing anxiety, but we spoke to her
                    directly about her findings.
                </p>
                <p>
                    "The soothing effect that candles have is based
                    on how the brain processes smells. The smell of
                    scented candles stimulates our limbic system,
                    the part of the brain that is home to our memory
                    and emotions. Hormones like serotonin and
                    dopamine can be produced to help regulate
                    mood. Therefore, our emotional state is
                    influenced by the relationship that exists
                    between scents, memories, and emotions."
                </p>
            </div>
        </div>
    </div>
</div>