@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

:root {
    --primary: #7d63ff;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    line-height: 1.5;
    transition: all 0.3s ease-in-out;
    font-family: "Josefin Sans", Arial;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--primary);
}

.container {
    background: #fff;
    padding: 2rem 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

input {
    display: block;
    border-radius: 35px;
    outline: none;
    z-index: 1000;
    background: transparent;
    padding: 0.2rem 1rem;
    font-size: 18px;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.form {
    margin-right: 3rem;
}

label {
    font-size: 10px;
}

input:focus {
    border-color: var(--primary);
}

.container h1 {
    font-size: 30px;
    color: var(--primary);
}

.container p {
    margin-bottom: 0.5rem;
    font-size: 15px;
    color: #999;
}

form {
    margin: 1rem 0;
}

.password,
.input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

.password {
    margin-bottom: 1rem;
}

label {
    font-size: 13px;
    margin: 10px 15px;
    position: absolute;
}

input:focus ~ label {
    font-size: 10px;
    margin-top: -1.1rem;
    z-index: 1000;
    background: #fff;
}

.btn {
    padding: 10px 12px;
    background: transparent;
    border-radius: 25px;
    margin: 0.5rem 0;
    cursor: pointer;
    display: block;
    border: none;
    width: 225px;
}

.btn-primary {
    background: linear-gradient(45deg, #8ba3ff, #7d63ff);
    color: #fff;
}

.btn-secondary {
    background: #fff;
    color: #8897ff;
    padding: 8px 12px;
    border: 2px solid var(--primary);
}

.img {
    width: 300px;
    border-radius: 15px;
    filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
}

    .img:hover {
        transform: translateY(-5%);
    }

.fa-fire {
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    box-shadow: 0 0 20px #8ba3ff;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background: linear-gradient(45deg, #8ba3ff, #7d63ff);
}

@media (max-width: 999px) {
    img {
        margin-top: 2rem;
    }

    .img:hover {
        transform: translateY(0%);
    }
}
