@model FlameAndWax.Models.ErrorViewModel;

<lottie-player src="https://assets3.lottiefiles.com/private_files/lf30_tonsVH.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
<p>@Model.ErrorContent</p>



