@model IEnumerable<FlameAndWax.Models.CustomerReviewViewModel>;
<div class="row">
    @if (Model == null)
    {
        return;
    }
    <div class="card-columns">
        @foreach (var comment in Model)
        {
            var reviewScoreNumber = (int)comment.ReviewScore;
            <div class="card mb-3">
                <div class="row no-gutters">                    
                    <div class="col-md-8">
                        <div class="card-body">
                            <img class="circle" src="@Url.Content(comment.Customer.ProfilePictureLink)">
                            <span class="badge badge-danger text-white">Top Comment <i class="fab fa-hotjar"></i></span>
                            <h5 class="card-title">@comment.Customer.CustomerName</h5>
                            <hr />
                            <p class="card-text">@comment.ReviewDetail</p>
                            <p class="card-text"><small class="text-muted">Date Commented: Date Here TODO</small></p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>