@model FlameAndWax.Models.UserProfileViewModel;
<div class="container">    
    <div class="row" id="content">
        @await Html.PartialAsync("ProfilePartial", Model)
    </div>
</div>

@section scripts{
    <script>
        completed = function () {
            var x = document.getElementById("completed");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
}


