@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register Account";
}

<div class="container">
    <!--
        Details to ask:
        - Name (Split into first and last name? Or just one name?) -> Full Name
        - Contact Number
        - Email
        - Address

        - Username
        - Password
        - Profile Picture
    -->
    <h2>@ViewData["Title"]</h2>
    <div class="row">

        <div class="card">
            <div class="row no-gutters">
                <div class="col-xl-8 col-lg-8 col-12 border-right">
                    <div class="card-body">

                        <!-- Full Name -->
                        <div class="row mb-2">
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">First Name</div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Enter first name here...">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Last Name</div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Enter last name here...">
                                </div>
                            </div>
                        </div>

                        <!-- Contact Number -->
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Contact No.</div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Enter mobile number here...">
                                </div>
                            </div>
                        </div>

                        <!-- Address -->
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Address</div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Enter address here...">
                                </div>
                            </div>
                        </div>

                        <hr />

                        <!-- Email Address -->
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Email Address</div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Enter email address here...">
                                </div>
                            </div>
                        </div>

                        <!-- Username -->
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Username</div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Enter username here...">
                                </div>
                            </div>
                        </div>

                        <!-- Password -->
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Password</div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Enter password here...">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-12">
                    <div class="card-body">
                        <!-- Picture -->
                        Long ago, the four nations lived together in harmony. Then everything changed when the Fire Nation attacked.
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
