@model IEnumerable<ProductViewModel>
<div class="container">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-body">
                This is some text within a card body.
            </div>
        </div>
    }
</div>