@model FlameAndWax.Employee.Models.LoginViewModel;
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/login.css" />
<link href="~/fontawesome/css/all.css" rel="stylesheet" />
<link href="~/sweetalert/sweetalert.css" rel="stylesheet" />

<div class="container">
    <div class="form">
        <i class="fas fa-fire"></i>
        <h1>Login</h1>
        <p>Login To Copat to access your account</p>
        <form asp-controller="Account" asp-action="ProcessLogin" id="formLogin" method="POST" data-ajax="true"
              data-ajax-complete="loginComplete">
            <div class="input">
                <input type="text" asp-for="@Model.Username">
                <label class="label" >Username </label>
            </div>
            <div class="password">
                <input type="password" asp-for="@Model.Password">
                <label class="password">Password </label>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>    
</div>

<script src="~/sweetalert/sweetalert.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src=@("https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.js")></script>
<script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
